html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #000;
}

.navbar {
    background-color: #081118;
}

.background-container {
    background-image: url("../images/FR-fr-20240326-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1, h4 {
    font-family: Arial;
    color: white;
}
.titre-container {
    color: white;
}

.titre-container h1,
.titre-container h3 {
    margin-bottom: 15px;
}

.card-body h1{
    color: white  ;
}

.type{
    color: black;
}

.card{
    background-color: white;
    border-color: black;
    border-radius: 24px;
}
.modal-body{
    color: black;
}

/*h1, h2{*/
/*    color: white;*/
/*}*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Largeur de la barre latérale */
    height: 100%;
    background-color: #15202B; /* Couleur de fond de la barre latérale */
    color: #fff; /* Couleur du texte */
    transition: transform 0.3s ease; /* Ajoute une transition fluide */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: inherit;
    text-decoration: none;
}


.content {
    margin-left: 250px;
    transition: margin 0.3s ease;
}
.content.expanded {
    margin-left: 0;
}


.sidebar.closed {
    transform: translateX(-250px);
}

.content.expanded {
    margin-left: 0;
}

#toggleButton {
    position: relative;
    top: 10px;
    left: 15px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}



.film-list {
    display: flex;
    flex-wrap: wrap; /* Permettre le passage à la ligne si l'espace est insuffisant */
    justify-content: center; /* Centrer les éléments horizontalement */
    gap: 10px; /* Espacement entre les éléments */
}

.film-list button {
    /* Ajoutez ici les styles supplémentaires des boutons */
}


@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
    margin: auto;
    position: relative;
    overflow-x: hidden;
    width: 80%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    position: absolute;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide-track img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.roulette{
    overflow-x: hidden;
}

.autocomplete-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    margin-left: 20%;
    margin-right: 20%;
    max-height: 70vh;
    overflow-y: auto;
}

.autocomplete-results li {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 24px;
}

.autocomplete-results li:hover {
    background-color: #406ff3;
    transition: 0.5s;
}

.autocomplete-results-navBar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    max-height: 200px; /* Définir la hauteur maximale */
    overflow-y: auto;  /* Ajouter la barre de défilement */
}

.autocomplete-results-navBar li {
    padding: 10px;
    cursor: pointer;
    background-color: #00e36a;
    border-radius: 24px;
}

.autocomplete-results-navBar li:hover {
    background-color: #ddd;
}



.film-container {
    display: flex;
    align-items: center; /* Centre verticalement le contenu */
}

.film-container img {
    width: 20%; /* Définit la largeur de l'image */
    margin-right: 10px; /* Ajoute un espace entre l'image et le texte */
}

.navbar__menu {
    list-style-type: none;
    padding: 0;
}

:root {
    --notification-background: #313e2c;
    --notification-primary: #aaec8a;
    --background : #FAF9FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.notification {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%) translateY(30px);
    border-radius: 6px;
    background-color: var(--notification-background);
    color: var(--notification-primary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 3s linear;
}

.notification .notification_icon {
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.notification .notification_body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
}

.notification .notification_progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(to right, var(--notification-background), var(--notification-primary));
    border-radius: inherit;
    animation: progress 2.5s linear 0.3s forwards;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

.filtres {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.filtres.show {
    display: block;
    opacity: 1;
}

.modal-content{
    background-color: black;
}

.modal-body{
    color: white;
}

.imageSerie{
    width: 60%;
}


.imageMovie{
    width: 60%;
}

.carousel-container {
    width: 80%;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #fff;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-item {
    min-width: 200px;
    margin: 20px;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
}

/*.box {*/
/*    padding: 10px; !* Reduced padding *!*/
/*    margin: 5px;  !* Reduced margin *!*/
/*    border: 1px solid #007bff;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*    background-color: #e7f3ff;*/
/*    text-align: center;*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    color: #007bff;*/
/*    transition: background-color 0.3s, transform 0.3s;*/
/*    flex: 1 1 calc(16.66% - 20px); !* Ensures proper width and alignment *!*/
/*}*/
/*.box:hover {*/
/*    background-color: #d0e7ff;*/
/*    transform: scale(1.05);*/
/*}*/
/*.box.selected {*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*}*/
/*.row {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 0 -5px; !* Adjusted for proper alignment *!*/
/*}*/
/*.col {*/
/*    padding: 5px; !* Adjusted for proper alignment *!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
