
$itemGrow: 1.2;
$duration: 250ms;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #22303C;
    /*background-color: #2d2d30;*/
}

.background-container {
    background-image: url("../images/FR-fr-20240326-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1, h4 {
    font-family: Arial;
    color: white;
}
.titre-container {
    color: white;
}

.titre-container h1,
.titre-container h3 {
    margin-bottom: 15px;
}

.card-body h1, .card-body h3{
    color: black  ;
}

.type{
    color: black;
}

.card{
    background-color: white;
    border-color: black;
    border-radius: 24px;
}
.modal-body{
    color: black;
}

/*h1, h2{*/
/*    color: white;*/
/*}*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Largeur de la barre latérale */
    height: 100%;
    background-color: #15202B; /* Couleur de fond de la barre latérale */
    color: #fff; /* Couleur du texte */
    transition: transform 0.3s ease; /* Ajoute une transition fluide */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: inherit;
    text-decoration: none;
}


.content {
    margin-left: 250px;
    transition: margin 0.3s ease;
}
.content.expanded {
    margin-left: 0;
}


.sidebar.closed {
    transform: translateX(-250px);
}

.content.expanded {
    margin-left: 0;
}

#toggleButton {
    position: relative;
    top: 10px;
    left: 15px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}



.film-list {
    display: flex;
    flex-wrap: wrap; /* Permettre le passage à la ligne si l'espace est insuffisant */
    justify-content: center; /* Centrer les éléments horizontalement */
    gap: 10px; /* Espacement entre les éléments */
}

.film-list button {
    /* Ajoutez ici les styles supplémentaires des boutons */
}


@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    margin: auto;
    position: relative;
    overflow-x: hidden;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    position: absolute;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100%;
    width: 100%;
}

.roulette{
    overflow: hidden;
}

.autocomplete-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    margin-left: 35%;
    margin-right: 35%;
}
.autocomplete-results li {
    padding: 10px;
    cursor: pointer;
    background-color: #00e36a;
    border-radius: 24px;
}
.autocomplete-results li:hover {
    background-color: #ddd;
}

.film-container {
    display: flex;
    align-items: center; /* Centre verticalement le contenu */
}

.film-container img {
    width: 20%; /* Définit la largeur de l'image */
    margin-right: 10px; /* Ajoute un espace entre l'image et le texte */
}