<style>
</style>
<nav class="navbar">
    <ul class="navbar__menu">
        <li class="navbar__item" style="">
            <a class="navbar__link" onclick="rouletteAleatoire.redirectionHomePage()"><img src="../images/home.svg"><span>Roulette</span></a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" onclick="rouletteAleatoire.favoriPage()"><img src="../images/list.svg"><span>Favoris</span></a>
        </li>
        <li class="navbar__item">
            <a  class="navbar__link" onclick="rouletteAleatoire.alreadyseenPage()"><img src="../images/eye.svg"><span>Déjà vu</span></a>
        </li>
        <li class="navbar__item" style="">
            <a class="navbar__link"><img src="../images/activity.svg" onclick="rouletteAleatoire.actualitePage()"><span>Fil d'actualité</span></a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" onclick="rouletteAleatoire.ajouter_ami()"><img src="../images/search.svg"><span>Rechercher</span></a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" onclick="rouletteAleatoire.addFriendsNotificationsPage()"><img src="../images/heart.svg"><span>Notification</span></a>
        </li>
        <li class="navbar__item">
            <a  class="navbar__link" onclick="rouletteAleatoire.friendsPage()"><img src="../images/user.svg"><span>Profil</span></a>
        </li>
        <li class="navbar__item">
            <a  class="navbar__link" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../images/log-out.svg"><span>Déconnexion</span></a>
        </li>
    </ul>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Êtes-vous sûr de vouloir vous déconnecter ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" onclick="formulaireRouletteController.deconnexion()">Deconnexion</button>
            </div>
        </div>
    </div>
</div>
<div class="mf-3" style="margin-left: 7rem">
    <div style="position: relative; float: right; display: none" id="admin">
        <a  class="navbar__link" onclick="rouletteAleatoire.adminPage()"><img src="../images/settings.svg"><span>Admin</span></a>
    </div>
    <div class="container d-flex justify-content-center vh-100 mt-3">
        <div class="row w-100">
            <div class="col-12 text-center mt-3">
                <div class="input-group">
                <span class="input-group-text">
                    <img src="/images/search%20(1).svg" alt="Image" style="max-height: 100%;">
                </span>
                    <input type="text" name="recherche" id="recherche" class="form-control" placeholder="Rechercher un ami" autocomplete="off">
                    <button class="btn btn-outline-primary" onclick="ajouterAmiController.ajouter()">
                        <img src="/images/user-plus.svg" alt="">
                    </button>
                </div>
                <ul class="autocomplete-results mt-2"></ul>
                <div class="alert alert-danger mt-3 d-none" role="alert" id="erreur">
                    Vous ne pouvez pas vous ajouter vous-même.
                </div>
                <div class="alert alert-success mt-3 d-none" role="alert" id="success">
                    Demande d'ami envoyée !
                </div>
            </div>
        </div>
    </div>
</div>