<style>
    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }
</style>
<nav class="navbar">
    <ul class="navbar__menu">
        <li class="navbar__item" style="">
            <a class="navbar__link" onclick="rouletteAleatoire.redirectionHomePage()"><img src="../images/home.svg"><span>Roulette</span></a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" onclick="rouletteAleatoire.favoriPage()"><img src="../images/star.svg"><span>Favoris</span></a>
        </li>
        <li class="navbar__item">
            <a  class="navbar__link" onclick="rouletteAleatoire.alreadyseenPage()"><img src="../images/eye.svg"><span>Déjà vu</span></a>
        </li>
        <li class="navbar__item" style="">
            <a class="navbar__link"><img src="../images/activity.svg" onclick="rouletteAleatoire.actualitePage()"><span>Fil d'actualité</span></a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" onclick="rouletteAleatoire.ajouter_ami()"><img src="../images/search.svg"><span>Rechercher</span></a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" onclick="rouletteAleatoire.addFriendsNotificationsPage()"><img src="../images/bell.svg"><span>Notification</span></a>
        </li>
        <li class="navbar__item">
            <a  class="navbar__link" onclick="rouletteAleatoire.friendsPage()"><img src="../images/users.svg"><span>Amis</span></a>
        </li>
        <li class="navbar__item">
            <a  class="navbar__link" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../images/log-out.svg"><span>Déconnexion</span></a>
        </li>
    </ul>
</nav>
<nav class="navbarPhone navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Roulette à film</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="../images/menu.svg" alt=""></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/homeWhite.svg" alt="" class="me-2" onclick="rouletteAleatoire.redirectionHomePage()">
                    <a class="navbar__link nav-link" onclick="rouletteAleatoire.redirectionHomePage()">Roulette</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/starWhite.svg" alt="" class="me-2" onclick="rouletteAleatoire.favoriPage()">
                    <a class="navbar__link nav-link" onclick="rouletteAleatoire.favoriPage()">Favoris</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/eyeWhite.svg" alt="" class="me-2" onclick="rouletteAleatoire.alreadyseenPage()">
                    <a class="navbar__link nav-link" onclick="rouletteAleatoire.alreadyseenPage()">Déjà vu</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/activityWhite.svg" alt="" class="me-2" onclick="rouletteAleatoire.actualitePage()">
                    <a class="navbar__link nav-link" onclick="rouletteAleatoire.actualitePage()">Fil d'actualité</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/searchWhite.svg" alt="" class="me-2" onclick="rouletteAleatoire.ajouter_ami()">
                    <a class="navbar__link nav-link" onclick="rouletteAleatoire.ajouter_ami()">Ajouter Ami</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/bellWhite.svg" alt="" class="me-2" onclick="rouletteAleatoire.addFriendsNotificationsPage()">
                    <a class="navbar__link nav-link" onclick="rouletteAleatoire.addFriendsNotificationsPage()">Notification</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/usersWhite.svg" alt="" class="me-2" onclick="rouletteAleatoire.friendsPage()">
                    <a class="navbar__link nav-link" onclick="rouletteAleatoire.friendsPage()">Amis</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/log-out-white.svg" alt="" class="me-2">
                    <a class="navbar__link nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Êtes-vous sûr de vouloir vous déconnecter ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" onclick="formulaireRouletteController.deconnexion()">Déconnexion</button>
            </div>
        </div>
    </div>
</div>
<div class="mf-3 bodyRoulette" id="bodyFriends">
    <div style="position: relative; float: right; display: none" id="admin">
        <a  class="navbar__link" onclick="rouletteAleatoire.adminPage()"><img src="../images/settings.svg"><span>Admin</span></a>
    </div>
    <div class="row mt-3">
        <div class="col-12 mt-3 d-flex justify-content-between align-items-center">
            <h1><span id="nbrFriends" class="mf-3" style="color: white"></span> ami(e)s </h1>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-12">
            <div class="friends mt-3"></div>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
<div class="mf-3 bodyRoulette" id="bodyFriendsFavoris">
    <div id="loadingSpinner" class="justify-content-center align-items-center vh-100" style="color: white">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <button class="btn btn-outline-primary" style="border-radius: 24px" onclick="amiController.eraseFavoris()">
                <img src="../images/x-lg.svg" alt="">
            </button>
        </div>
        <div class="col-10">
            <h1>Liste de favoris de: <span id="userDisplayName"></span></h1>
        </div>
    </div>
    <div id="listFavorite" class="m-3"></div>
    <div id="listFavoritePhone" class="m-3"></div>
    <div id="listDejaVuPhone" class="m-3"></div>
    <div id="listDejaVu" class="m-3"></div>
    <div class="modal fade" id="modalMovie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="test">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center">
                                <p class="imageMovie"></p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-2">
                                        <p> Note : <div class="noteMovie" style="color: red"></div></p>
                                    </div>
                                    <div class="col-10">
                                        <h1 class="nameMovie" style="color: black"></h1>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="movieCategorys"></p>
                            </div>
                            <hr>
                            <h2 style="color: black">Synopsis</h2>
                            <div class="descriptionMovie text-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12 text-center">
                        <p class="platforms" style="color: black"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-center">
                        <div class="col-4">
                            <a class="navbar__link" data-bs-dismiss="modal"><img src="../images/x-circle.svg"><span style="z-index: 9999">Fermer</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

