<style>
    body {
        margin: 0;
        padding: 20px;
        background-image: url(../images/test.jpg);
        background-size: cover;
        background-position: center;
        backdrop-filter: brightness(0.7) grayscale(0.7);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: #ffffff;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-primary {
        background-color: #e50914;
        border: none;
        color: white;
        padding: 17px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

    .login-form-card {
        background-color: rgba(0, 0, 0, 0.801);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 100%;
        background-color: #081118;
    }

    .login-form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    .form-group input {
        width: 100%;
        padding: 17px 20px;
        padding-right: 40px; /* Add padding to accommodate the button */
        border-radius: 5px;
        border: none;
        background-color: rgb(70, 70, 70);
        /*color: #ffffff;*/
        outline: none;
    }

    .form-group label {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: #aaa;
        transition: all 0.3s ease;
        pointer-events: none;
        /*background: white;*/
        padding: 0 5px;
    }

    .form-group input:focus + label,
    .form-group input:not(:placeholder-shown) + label {
        top: 0;
        left: 20px;
        font-size: 12px;
        color: black;
        transform: translateY(-10%) scale(0.8);
    }

    .btn-eye {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .btn-eye img {
        width: 20px;
        height: 20px;
    }
</style>

<div class="login-form-card">
    <form action="" class="login-form">
        <h1>Création d'un compte</h1>
        <div class="form-group">
            <input type="text" class="form-control" id="pseudo" placeholder=" " required>
            <label for="pseudo">Votre nom d'utilisateur</label>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="login" placeholder=" " required>
            <label for="login">Votre adresse mail</label>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder=" " required>
                    <label for="password">Enter mot de passe</label>
                    <button type="button" class="btn-eye" onclick="creationCompteController.togglePasswordVisibility('password', 'eyeIcon1')">
                        <img src="../images/eye-off-white.svg" alt="Show password" id="eyeIcon1">
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input type="password" class="form-control" id="password2" placeholder=" " required>
                    <label for="password2">Verifier votre mot de passe</label>
                    <button type="button" class="btn-eye" onclick="creationCompteController.togglePasswordVisibility('password2', 'eyeIcon2')">
                        <img src="../images/eye-off-white.svg" alt="Show password" id="eyeIcon2">
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn-primary" onclick="creationCompteController.pageConnexion()">Connexion</button>
            </div>
            <div class="col d-flex justify-content-center">
                <button type="button" class="btn-primary" onclick="creationCompteController.creationCompte()">Créer compte</button>
            </div>
        </div>
    </form>

    <div class="alert alert-danger mt-3" role="alert" id="erreur">
    </div>
</div>