<nav class="navbar">
    <ul class="navbar__menu">
        <li class="navbar__item" style="">
            <a class="navbar__link" onclick="dejaVu.redirectionHomePage()"><img src="../images/home.svg"><span>Roulette</span></a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" onclick="dejaVu.favoriPage()"><img src="../images/star.svg"><span>Favoris</span></a>
        </li>
        <li class="navbar__item">
            <a  class="navbar__link" onclick="dejaVu.alreadyseenPage()"><img src="../images/eye.svg"><span>Déjà vu</span></a>
        </li>
        <li class="navbar__item" style="">
            <a class="navbar__link"><img src="../images/activity.svg" onclick="dejaVu.actualitePage()"><span>Fil d'actualité</span></a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" onclick="dejaVu.ajouter_ami()"><img src="../images/search.svg"><span>Rechercher</span></a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" onclick="dejaVu.addFriendsNotificationsPage()"><img src="../images/heart.svg"><span>Notification</span></a>
        </li>
        <li class="navbar__item">
            <a  class="navbar__link" onclick="dejaVu.friendsPage()"><img src="../images/user.svg"><span>Profil</span></a>
        </li>
        <li class="navbar__item">
            <a  class="navbar__link" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../images/log-out.svg"><span>Déconnexion</span></a>
        </li>
    </ul>
</nav>
<nav class="navbarPhone navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Roulette à film</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="../images/menu.svg" alt=""></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/homeWhite.svg" alt="" class="me-2" onclick="dejaVu.redirectionHomePage()">
                    <a class="navbar__link nav-link" onclick="dejaVu.redirectionHomePage()">Roulette</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/starWhite.svg" alt="" class="me-2" onclick="dejaVu.favoriPage()">
                    <a class="navbar__link nav-link" onclick="dejaVu.favoriPage()">Favoris</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/eyeWhite.svg" alt="" class="me-2" onclick="dejaVu.alreadyseenPage()">
                    <a class="navbar__link nav-link" onclick="dejaVu.alreadyseenPage()">Déjà vu</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/activityWhite.svg" alt="" class="me-2" onclick="dejaVu.actualitePage()">
                    <a class="navbar__link nav-link" onclick="dejaVu.actualitePage()">Fil d'actualité</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/searchWhite.svg" alt="" class="me-2" onclick="dejaVu.ajouter_ami()">
                    <a class="navbar__link nav-link" onclick="dejaVu.ajouter_ami()">Ajouter Ami</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/heartWhite.svg" alt="" class="me-2" onclick="dejaVu.addFriendsNotificationsPage()">
                    <a class="navbar__link nav-link" onclick="dejaVu.addFriendsNotificationsPage()">Notification</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/userWhite.svg" alt="" class="me-2" onclick="dejaVu.friendsPage()">
                    <a class="navbar__link nav-link" onclick="dejaVu.friendsPage()">Profil</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <img src="../images/log-out-white.svg" alt="" class="me-2">
                    <a class="navbar__link nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Êtes-vous sûr de vouloir vous déconnecter ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" onclick="formulaireRouletteController.deconnexion()">Déconnexion</button>
            </div>
        </div>
    </div>
</div>
<div class="mf-3 bodyRoulette">
    <div style="position: relative; float: right; display: none" id="admin">
        <a  class="navbar__link" onclick="dejaVu.adminPage()"><img src="../images/settings.svg"><span>Admin</span></a>
    </div>
<div class="row">
    <p class="m-3" style="color:white;">Les films déjà vu ne seront plus présent dans la roulette.</p>
    <div id="loadingSpinner" class="justify-content-center align-items-center vh-100" style="color: white">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row mt-3 m-3">
        <div class="col-2" id="filtre">
            <button class="btn btn-outline-primary" style="border-radius: 24px" onclick="dejaVu.showFiltres()">
                <img src="../images/filter.svg" alt="">
            </button>
        </div>
        <div class="col-2 filtres">
            <button class="btn btn-outline-primary" style="border-radius: 24px"><img src="../images/searchWhite.svg" alt=""></button>
        </div>
        <div class="col-2" id="filtresErase">
            <button class="btn btn-outline-primary" style="border-radius: 24px" onclick="dejaVu.init()"><img src="../images/x-lg.svg"
                                                                                                             alt=""></button>
        </div>
        <div class="col-2 filtres">
            <button class="btn btn-outline-light" style="border-radius: 24px" onclick="dejaVu.filreFilm()">Films</button>
        </div>
        <div class="col-2 filtres">
            <button class="btn btn-outline-light" style="border-radius: 24px" onclick="dejaVu.filreSerie()">Séries</button>
        </div>
        <div class="col-2">
            <h3 id="filtreEnCours" style="color: white"></h3>
        </div>
    </div>
    <div id="listDejaVu" class="m-3">

    </div>
    <div id="listDejaVuPhone" class="m-3">

    </div>

<!--    <div id="listFavorite" class="m-3"></div>-->
<!--    <div id="listFavoritePhone" class="m-3"></div>-->

    <div class="modal fade" id="modalMovie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="test">
                <div class="modal-body">
                    <!--                <div class="card" style="background-color: rgba(255, 255, 255, 0.3); border: none;">-->
                    <!--                    <div class="card-body">-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center">
                                <p class="imageMovie"></p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-2">
                                        <p> Note : <div class="noteMovie" style="color: red"></div></p>
                                    </div>

                                    <div class="col-10">
                                        <h1 class="nameMovie" style="color: black"></h1>
                                     </div>
                                </div>
                            </div>
                            <div>
                                <p class="movieCategorys"></p>
                            </div>
                            <hr>
                            <h2 style="color: black">Synopsis</h2>
                            <div class="descriptionMovie text-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12 text-center">
                        <p class="platforms" style="color: black"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-center">
                        <div class="row text-center">
                            <div class="col-4">
                                <a class="navbar__link" data-bs-dismiss="modal"><img src="../images/x-circle.svg"><span style="z-index: 9999">Fermer</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>