<nav class="navbar navbar-dark bg-body-tertiary" style="background-color: #081118">
    <div class="container-fluid">
        <a class="navbar-brand m-3" style="color: #00e36a">MA LISTE DE FAVORI</a>
        <button class="btn rounded" style="background: #00fc76; color: black" onclick="">
            <img src="/images/list-ul.svg" alt="Image" style="width: 20px; margin-right: 5px;">
            Créer une liste
        </button>
        <div class="ms-auto">
            <a onclick="favori.changePageToRoulette()" class="m-3"> <img src="../images/x-lg.svg" alt="fleche gauche" style="width: 40%" class="m-3"></a>
        </div>
    </div>
</nav>
    <div id="listFavorite" class="m-3">
    </div>

    <div class="modal fade" id="modalMovie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="test">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center">
                                <p class="imageMovie"></p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-2">
                                        <p> Note : <div class="noteMovie" style="color: red"></div></p>
                                    </div>
                                    <div class="col-10">
                                        <h1 class="nameMovie" style="color: black"></h1>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="movieCategorys"></p>
                            </div>
                            <hr>
                            <h2 style="color: black">Synopsis</h2>
                            <div class="descriptionMovie text-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row text-center">
                        <div class="col-4">
                            <button type="button" class="btn rounded-circle" style="background-color: #22303C" title="Ajouter aux favoris"
                                    onclick="rouletteAleatoire.addFavorite(rouletteAleatoire.index)" id="fav">
                                <img src="../images/check-lg.svg" width="20" height="20" alt="Favori">
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn rounded-circle" style="background-color: #22303C" title="Ajouter aux déjà vu">
                                <img src="../images/eye-slash-fill.svg" width="20" height="20" alt="Déjà vu" id="imageModal">
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn rounded-circle" style="background-color: #22303C" data-bs-dismiss="modal">
                                <img src="../images/x-circle.svg" width="20" height="20" alt="Fermer">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
