<style>

    body{
        background-color: white;
    }
    .titre-container {
        color: #2C3E50;
    }

    .titre-container h1,
    .titre-container h3 {
        margin-bottom: 15px;
    }

    .card-body h1, .card-body h3{
        color: #2C3E50  ;
    }

    .type{
        color: black;
    }

    .card{
        background-color: white;
        border-color: black;
        border-radius: 24px;
    }
</style>
<div class="container mt-3">
    <div class="titre-container">
        <h1 class="text-center mt-3">Bienvenue sur la roulette à film !</h1>
    </div>

    <div class="card">
        <div class="row justify-content-center mt-2">
            <div class="col-md-6">

                    <div class="card-body">
                        <h3 class="text-center mt-3">Choisir une plateforme de streaming</h3>
                        <form id="formulaireStreamingPlatform">
                            <div class="row mt-3">
                                <div id="platformStreamingDiv">

                                </div>
                            </div>
                            <div class="alert alert-danger mt-2 " role="alert" id="platformStreaming">
                                Sélectionnez un seul service de streaming
                            </div>
                        </form>
                    </div>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-md-6">

                    <div class="card-body">
                        <h3 class="text-center mt-3">Choisir entre 0 et 2 categories de film</h3>
                        <form>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col">
                                        <p class="type" id="super_hero">super hero <input type="checkbox"></p>
                                        <p class="type" id="aventure">aventure <input type="checkbox"></p>
                                    </div>
                                    <div class="col">
                                        <p class="type" id="thrillers">thrillers <input type="checkbox"></p>
                                        <p class="type" id="comedie">comedie <input type="checkbox"></p>
                                    </div>
                                    <div class="col">
                                        <p class="type" id="scientifique">scientifique <input type="checkbox"></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

            </div>
        </div>
        <div class="row justify-content-center mt-3 text-center">

                <div class="card-body">
                    <h3 class="text-center mt-3">Plutôt film ou serie ?</h3>
                    <form>
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col">
                                    <p class="type">Film <input type="checkbox" id="film"></p>
                                </div>
                                <div class="col">
                                    <p class="type">Serie <input type="checkbox" id="serie"></p>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger mt-2 " role="alert" id="type">
                            Sélectionnez un seul type
                        </div>
                    </form>
                </div>

        </div>

        <div class="row justify-content-center mt-2 text-center mb-5">
            <div class="col-md-2"> <!-- Ajustez la classe col-md-* en conséquence -->
                <button type="button" class="btn btn-outline-primary  w-100" onclick="formulaireRouletteController.traiterFormulaire()">
                    <img src="../images/plus-circle%20(1).svg" style="width: 30%;" alt="Ajouter">
                </button>
            </div>
        </div>
    </div>
</div>