
<style>
    body {
        margin: 0;
        padding: 20px;
        background-image: url(../images/test.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        backdrop-filter: brightness(0.7) grayscale(0.7);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color: #ffffff;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-primary {
        background-color: #e50914;
        border: none;
        color: white;
        padding: 17px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }

    .sign-group {
        margin-top: 60px;
        display: flex;
        gap: 5px;
    }

    .sign-group a {
        color: #ffffff;
        text-decoration: none;
    }

    .sign-group h4 {
        margin: 0;
        color: #c2c1c1;
        font-weight: 400;
    }

    .login-form-card {
        background-color: rgba(0, 0, 0, 0.801);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 400px; /* Limitez la largeur maximale */
        background-color: #081118;

    }

    .login-form {
        display: flex;
        flex-direction: column;
    }

    .login-form input {
        padding: 17px 20px;
        margin: 10px 0;
        border-radius: 5px;
        border: none;
        background-color: rgb(70, 70, 70);
        color: #ffffff;
    }

    p a {
        color: #4b37ff;
        text-decoration: none;
    }

    p {
        font-size: 14px;
        color: #c2c1c1;
    }

    .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    .form-group input {
        width: 100%;
        padding: 17px 20px;
        padding-right: 40px; /* Add padding to accommodate the button */
        border-radius: 5px;
        border: none;
        background-color: rgb(70, 70, 70);
        /*color: #ffffff;*/
        outline: none;
    }

    .btn-eye {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .btn-eye img {
        width: 20px;
        height: 20px;
    }
</style>
    <div class="container">
        <div class="login-form-card">
            <form action="" class="login-form">
                <h1>Connexion</h1>
                <input type="text" class="form-control" id="login" placeholder="Votre login (adresse mail)">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Enter mot de passe" required>
                    <button type="button" class="btn-eye" onclick="indexController.togglePasswordVisibility('password', 'eyeIcon1')">
                        <img src="../images/eye-off-white.svg" alt="Show password" id="eyeIcon1">
                    </button>
                </div>

                <button type="button" class="btn-primary" onclick="indexController.authenticate()">Se connecter</button>
            </form>

            <div class="sign-group">
                <h4>Nouveau sur la roulette à film?</h4>
                <a onclick="indexController.creationCompte()">Créer un compte</a>
            </div>
            <div class="alert alert-danger mt-4" role="alert" id="danger">
                Veuillez remplir tous les champs.
            </div>
            <div class="alert alert-danger mt-4" role="alert" id="erreur">
                Erreur lors de l'authentification dû à un mauvais mot de passe ou login.
            </div>
        </div>
    </div>
