<style>

</style>
    <div class="container">
        <div class="container mt-3">
            <div class="card">
                <div class="row mt-3 text-center">
                    <div class="col-2">
                        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                            <img src="../images/list.svg" style="width: 200%; height: 200%">
                        </button>
                        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="background-color: #22303C">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel" style="color: white">PARAMETRE</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-outline-primary mt-3">AJOUTER UN AMI</button>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-outline-primary mt-3">LISTE D'AMIS</button>
                                        </div>
                                        <hr class="mt-3">
                                        <div class="col-12">
                                            <button class="btn btn-outline-primary mt-3">CREER SA PROPRE ROUELETTE</button>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-outline-primary mt-3">CHOISIR UNE ROUELETTE</button>
                                        </div>
                                        <hr class="mt-3">

                                        <div class="col-12">
                                            <button class="btn btn-outline-primary mt-3">LISTE DEJA VUE</button>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-outline-primary mt-3" onclick="rouletteAleatoire.favoriPage()">LISTE DES FAVORIS</button>
                                        </div>
                                        <hr class="mt-3">
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-danger mt-3" onclick="rouletteAleatoire.refreshRoulette()">CHANGER LA ROULETTE</button>
                                        </div>
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModalSetting">REINITIALISER PARAMETRE</button>
                                        </div>
                                        <div class="col-12">
                                            <button type="button" class="btn btn-outline-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">DECONNEXION</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModalSetting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Êtes-vous sûr de vouloir réinitialiser les paramètres ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" onclick="rouletteAleatoire.resetSettings()">Réinitiliser</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-8">
                        <h1 style="color: red">ROULETTE ALEATOIRE<div id="user"></div></h1>
                    </div>
                    <div class="col-2 text-end">
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Êtes-vous sûr de vouloir vous déconnecter ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" onclick="formulaireRouletteController.deconnexion()">Deconnexion</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-3">
                    <div class="col-3 text-center align-self-center">
                        <h3 style="color: black">Films présents dans la roulette.</h3>
                        <hr>
                        <div class="listDesFilms" style="color: black">

                        </div>
                    </div>
                    <div class="col-6 text-center align-self-center">
                        <canvas id="canvas" width="500" height="500"></canvas>
                    </div>
                    <div class="col-3 text-center align-self-center" style="color: black">
                        <h2 id="type" style="color: black"></h2>
                        <hr>
                        <h2 id="genres" style="color: black"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6 text-center align-self-center mt-3">
                        <input type="button" value="LANCER" id='spin' class="text-center btn btn-outline-primary m-3"/>
                    </div>
                    <div class="col-3">

                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="modalMovie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="test">
            <div class="modal-body">
<!--                <div class="card" style="background-color: rgba(255, 255, 255, 0.3); border: none;">-->
<!--                    <div class="card-body">-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <p class="imageMovie"></p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-2">
                                            <p> Note : <div class="noteMovie" style="color: red"></div></p>
                                        </div>

                                        <div class="col-10">
                                            <h1 class="nameMovie" style="color: black"></h1>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="movieCategorys"></p>
                                </div>
                                <hr>
                                <h2 style="color: black">Synopsis</h2>
                                <div class="descriptionMovie text-center">
                                </div>
                            </div>
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <div class="col-4">
                        <button type="button" class="btn rounded-circle" style="background-color: #22303C" title="Ajouter aux favoris"
                        onclick="rouletteAleatoire.addFavorite(rouletteAleatoire.index)" id="fav">
                            <img src="../images/heart-fill%20(1).svg" width="20" height="20" alt="Favori">
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn rounded-circle" style="background-color: #22303C" title="Ajouter aux déjà vu">
                            <img src="../images/eye-slash-fill.svg" width="20" height="20" alt="Déjà vu" id="imageModal">
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn rounded-circle" style="background-color: #22303C" data-bs-dismiss="modal">
                            <img src="../images/x-circle.svg" width="20" height="20" alt="Fermer">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

