<style>
    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }
</style>
<!--    <div class="roulette">-->
<!--            <nav class="navbar navbar-dark bg-body-tertiary" style="background-color: #081118">-->
<!--                <div class="container-fluid">-->
<!--                    <a class="navbar-brand m-3" style="color: #318CE7">LA ROULETTE A FILM</a>-->
<!--                    <div class="m-3">-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" name="recherche" id="rechercheNavBar" class="form-control" placeholder="Recherche" autocomplete="off">-->
<!--                            <span class="input-group-text">-->
<!--                                <img src="/images/search%20(1).svg" alt="Image" style="max-height: 100%;">-->
<!--                            </span>-->
<!--                        </div>-->
<!--                        <ul class="autocomplete-results-navBar mt-2"></ul>-->

<!--                    </div>-->
<!--                    <div class="ms-auto">-->
<!--                        <button class="btn m-3" onclick="rouletteAleatoire.addFriendsPage()">-->
<!--                            <img class="m-3"  src="/images/person.svg" alt="" onclick="rouletteAleatoire.addFriendsPage()">-->
<!--                            <span id="notification" class="badge badge-danger rounded-circle ml-2"></span>-->
<!--                        </button>-->
<!--                        <button class="btn rounded" style="background: #318CE7 ; color: black" onclick="rouletteAleatoire.favoriPage()">-->
<!--                            <img src="/images/list-ul.svg" alt="Image" style="width: 20px; margin-right: 5px;">-->
<!--                            Liste-->
<!--                        </button>-->
<!--                        <button class="btn rounded" style="background: #318CE7 ; color: black" onclick="rouletteAleatoire.alreadyseenPage()">-->
<!--                            <img src="/images/eye-slash-fill.svg" alt="Image" style="width: 20px; margin-right: 5px;">-->
<!--                            Déjà vu !-->
<!--                        </button>-->

<!--                        <img src="/images/gear.svg"  class="m-3 " alt="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">-->
<!--                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="background-color: #22303C">-->
<!--                            <div class="offcanvas-header">-->
<!--                                <h5 class="offcanvas-title" id="offcanvasRightLabel" style="color: white">Paramètres</h5>-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="offcanvas-body">-->
<!--                                <div class="col-12">-->
<!--                                    <button type="button" class="btn btn-outline-danger mt-3" onclick="rouletteAleatoire.refreshRoulette()">CHANGER LA ROULETTE</button>-->
<!--                                </div>-->
<!--                                <div class="col-12"><button type="button" class="btn btn-outline-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModalSetting">REINITIALISER PARAMETRE</button>-->
<!--                                </div>-->
<!--                                <div class="col-12"><button type="button" class="btn btn-outline-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">DECONNEXION</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </nav>-->
<!--        <h4 class="mt-3 text-center" style="color:white;">Films présents dans la roulette</h4>-->

<!--        <div class="row mt-3">-->
<!--                <div class="slider">-->
<!--                    <div class="slide-track">-->
<!--                    </div>-->
<!--                </div>-->
<!--        </div>-->
<!--        <div class="row m-2">-->
<!--            <div class="col-2 text-center align-self-center" style="color: black">-->
<!--                <h1>Genres</h1>-->
<!--                <hr>-->
<!--                <h2 id="genres" style="color: white"></h2>-->
<!--            </div>-->
<!--            <div class="col-8 text-center align-self-center">-->
<!--                <canvas id="canvas" width="500" height="500"></canvas>-->
<!--            </div>-->
<!--            <div class="col-2 text-center align-self-center" style="color: black">-->
<!--                <input type="button" value="LANCER" id='spin' class="text-center btn rounded m-3" style="background: #318CE7;"/>-->
<!--&lt;!&ndash;                linear-gradient(145deg, #00e18c, #00e36a);&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <h4 class="text-center">Créez votre propre roulette !</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row m-3">-->
<!--                <div class="col-6">-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <div class="input-group m-3">-->
<!--                                <input type="text" name="recherche" id="recherche" class="form-control" placeholder="Rechercher film ou serie" autocomplete="off">-->
<!--                                <span class="input-group-text">-->
<!--                                <img src="/images/search%20(1).svg" alt="Image" style="max-height: 100%;">-->
<!--                            </span>-->
<!--                            </div>-->
<!--                            <ul class="autocomplete-results mt-2"></ul>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <div id="dynamicContenu" class="mt-3" style="color:white;"></div>-->
<!--                </div>-->
<!--                <div class="col-6 text-center align-self-center" >-->
<!--                    <input type="button" value="LANCER" id='spinPersonnalisee' class="text-center btn rounded m-3" style="background: #318CE7" onclick="rouletteAleatoire.spinPersonnalisee()"/>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<div class="modal fade" id="modalMovie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-4 mb-3 mb-md-0">
                        <div class="text-center">
                            <p class="imageMovie"></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-2">
                                    <p> Note : <div class="noteMovie" style="color: red"></div></p>
                                </div>
                                <div class="col-10">
                                    <h1 class="nameMovie" style="color: black"></h1>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="movieCategorys"></p>
                        </div>
                        <hr>
                        <h2 style="color: black">Synopsis</h2>
                        <div class="descriptionMovie text-center"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="platforms" style="color: black"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row text-center w-100">
                    <div class="col-4">
                        <a class="navbar__link" onclick="rouletteAleatoire.addFavorite(rouletteAleatoire.index)">
                            <img src="../images/plus-circle.svg" alt="Add to favorite">
                            <span style="z-index: 9999">Favori</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="navbar__link" onclick="rouletteAleatoire.addDejaVu(rouletteAleatoire.index)">
                            <img src="../images/eye-off.svg" alt="Already seen">
                            <span style="z-index: 9999">Déjà vu</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="navbar__link" data-bs-dismiss="modal">
                            <img src="../images/x-circle.svg" alt="Close">
                            <span style="z-index: 9999">Fermer</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalperso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <p class="image"></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-2">
                                    <p> Note : <div class="note" style="color: red"></div></p>
                                </div>

                                <div class="col-7">
                                    <h1 class="name" style="color: black"></h1>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="Categorys"></p>
                        </div>
                        <hr>
                        <h2 style="color: black">Synopsis</h2>
                        <div class="description text-center">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="platforms" style="color: black"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="platforms" style="color: black"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="footerRecherche">
                <div class="row text-center">
                    <div class="col-4">
<!--                        <button type="button" class="btn rounded-circle" style="background-color: #22303C" title="Ajouter à ma liste"-->
<!--                                onclick="rouletteAleatoire.addFavorite(rouletteAleatoire.index)" id="fav">-->
<!--                            <img src="../images/plus-circle%20(1).svg" width="20" height="20" alt="Favori">-->
<!--                        </button>-->
                    </div>
                    <div class="col-4">
<!--                        <button type="button" class="btn rounded-circle" style="background-color: #22303C" title="Ajouter aux déjà vu"-->
<!--                                onclick="rouletteAleatoire.addDejaVu(rouletteAleatoire.index)" id="dejaVu">-->
<!--                            <img src="../images/eye-slash-fill.svg" width="20" height="20" alt="Déjà vu" id="imageModal">-->
<!--                        </button>-->
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn rounded-circle" style="background-color: #22303C" data-bs-dismiss="modal">
                            <img src="../images/x-circle.svg" width="20" height="20" alt="Fermer">
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSerie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="test2">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <p class="imageSerie"></p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-2">
                                    <p> Note : <div class="noteSerie" style="color: red"></div></p>
                                </div>

                                <div class="col-7">
                                    <h1 class="nameSerie" style="color: black"></h1>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p class="SerieCategorys"></p>
                        </div>
                        <hr>
                        <h2 style="color: black">Synopsis</h2>
                        <div class="descriptionSerie text-center">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="platformsSerie" style="color: black"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <div class="col-4">
                        <a class="navbar__link" onclick="rouletteAleatoire.addFavorite(rouletteAleatoire.index)"><img src="../images/plus-circle.svg"><span style="z-index: 9999">Favori</span></a>
                    </div>
                    <div class="col-4">
                        <a class="navbar__link" onclick="rouletteAleatoire.addDejaVu(rouletteAleatoire.index)"><img src="../images/eye-off.svg"><span style="z-index: 9999">Déjà vu</span></a>
                    </div>
                    <div class="col-4">
                        <a class="navbar__link" data-bs-dismiss="modal"><img src="../images/x-circle.svg"><span style="z-index: 9999">Fermer</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Êtes-vous sûr de vouloir vous déconnecter ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" onclick="formulaireRouletteController.deconnexion()">Deconnexion</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalSetting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Êtes-vous sûr de vouloir réinitialiser les paramètres ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" onclick="rouletteAleatoire.resetSettings()">Réinitiliser</button>
            </div>
        </div>
    </div>
</div>

<div class="roulette">
    <nav class="navbar">
        <ul class="navbar__menu">
            <li class="navbar__item" style="">
                <a class="navbar__link" onclick="rouletteAleatoire.redirectionHomePage()"><img src="../images/home.svg"><span>Roulette</span></a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" onclick="rouletteAleatoire.favoriPage()"><img src="../images/list.svg"><span>Favoris</span></a>
            </li>
            <li class="navbar__item">
                <a  class="navbar__link" onclick="rouletteAleatoire.alreadyseenPage()"><img src="../images/eye.svg"><span>Déjà vu</span></a>
            </li>
            <li class="navbar__item" style="">
                <a class="navbar__link"><img src="../images/activity.svg" onclick="rouletteAleatoire.actualitePage()"><span>Fil d'actualité</span></a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" onclick="rouletteAleatoire.ajouter_ami()"><img src="../images/search.svg"><span>Rechercher</span></a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" onclick="rouletteAleatoire.addFriendsNotificationsPage()"><img src="../images/heart.svg"><span>Notification</span></a>
            </li>
            <li class="navbar__item">
                <a  class="navbar__link" onclick="rouletteAleatoire.friendsPage()"><img src="../images/user.svg"><span>Profil</span></a>
            </li>
            <li class="navbar__item">
                <a  class="navbar__link" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../images/log-out.svg"><span>Déconnexion</span></a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="mf-3" style="margin-left: 7rem; overflow: hidden">
        <div style="position: relative; float: right; display: none" id="admin">
            <a  class="navbar__link" onclick="rouletteAleatoire.adminPage()"><img src="../images/settings.svg"><span>Admin</span></a>
        </div>
        <ul class="autocomplete-results-navBar mt-2"></ul>

        <div class="row m-2">
            <div class="col-md-12 text-center align-self-center mb-3 mb-md-0">
                <div class="card" style="background-color: #121212">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center">
                            <h1 class="card-title m-0">Genres</h1>
                            <a class="navbar__link ml-2" data-bs-toggle="modal" data-bs-target="#exampleModalSetting">
                                <img src="../images/refresh-ccw.svg" alt="Réinitialiser">
                                <span>Réinitialiser</span>
                            </a>
                        </div>
                        <hr>
                        <h2 id="genres" style="color: white;"></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-7 text-center align-self-center mb-3 mb-md-0" style="display: none ">
                <div class="d-flex align-items-center justify-content-center">
                    <canvas id="canvas" width="500" height="500"></canvas>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5%">
            <div class="slider">
                <div class="slide-track">

                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center" style="width: 100%; height: 100%; margin-top: 5%">
            <div class="card" style="background-color: #121212">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <input type="button" value="LANCER" id='spin' class="text-center btn rounded m-3" style="background: #318CE7;"/>
                        <a class="navbar__link mb-2" onclick="rouletteAleatoire.refreshRoulette()">
                            <img src="../images/refresh-ccw.svg" alt="Réinitialiser">
                            <span>Changer la roulette</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!--        <hr>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <h4 class="text-center">Créez votre propre roulette !</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row m-3">-->
<!--                <div class="col-6">-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <div class="input-group m-3">-->
<!--                                <input type="text" name="recherche" id="recherche" class="form-control" placeholder="Rechercher film ou serie" autocomplete="off">-->
<!--                                <span class="input-group-text">-->
<!--                                        <img src="/images/search%20(1).svg" alt="Image" style="max-height: 100%;">-->
<!--                                    </span>-->
<!--                            </div>-->
<!--                            <ul class="autocomplete-results mt-2"></ul>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <div id="dynamicContenu" class="mt-3" style="color:white;"></div>-->
<!--                </div>-->
<!--                <div class="col-6 text-center align-self-center" >-->
<!--                    <input type="button" value="LANCER" id='spinPersonnalisee' class="text-center btn rounded m-3" style="background: #318CE7" onclick="rouletteAleatoire.spinPersonnalisee()"/>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" name="recherche" id="rechercheNavBar" class="form-control" placeholder="Rechercher un film" autocomplete="off">-->
<!--                            <span class="input-group-text">-->
<!--                                <img src="/images/search%20(1).svg" alt="Image" style="max-height: 100%;">-->
<!--                            </span>-->
<!--                        </div>-->
    </div>
</div>